html{
    display: flex;
    justify-content: center;
}
body{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    border-radius: 3px;
    border: 2px solid black;
}
.bold{
    font-weight: bold;
}
#description{

}
#ingredients, #steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
li{
    margin: 4px;
}
