html{
    display: flex;
    justify-content: center;
}
body{
    background-color: #572C2C;
    color: #F5CBB8;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    border-radius: 3px;
    border: 2px solid #F5CBB8;
}
.bold{
    font-weight: bold;
}
#ingredients, #steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
li{
    margin: 4px;
}
a{
    color: #F5CBB8;
}